.import-csv .file input {
    display: none;
}
.import-csv .file {
    border: 1px solid #ddd;
    padding: 10px;
    display: block;
    margin-top: 20px;
    border-radius: 5px;
}
input.no-border {
    border: none;
    width: 100%;
    background: none;
}
input.no-border:focus {
    outline:none;
}